# Default ignored files
.idea/LocalProjects.iml
.idea/inspectionProfiles/Project_Default.xml
# Editor-based HTTP Client requests
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/
#git rm --cached -r Practice/Movies/__pycache__/
#git rm --cached -r Practice/Movies/routers/__pycache__/
Practice/Movies/log.txt